.slider {
  position: relative;
  font-size: 1em;
  margin: 25px;
  background = #000;
}

.slider .slides .item {
  position: relative;
  display: none;
}

.slider .slides .item img {
  width: 40%;
  height: 380px;
}

.slider .slides .active {
  display: block;
}

.slider .buttons {
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 1;
}

.slider .buttons i {
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.slider .buttons i:hover {
  color: rgba(255, 255, 255, 0.4);
}
