        .img-wrapper {
            margin: 3%;
            position: relative;
        }
  
        .first-txt {
            position: absolute;
            top: 17px;
            left: 170px;
			color: white;
			font-size: 10px;
			width: 15%
        }
  
        .second-txt {
            position: absolute;
            bottom: 230px;
            left: 120px;
			color: white	
        }        
		.third-txt {
            position: absolute;
            bottom: 10px;
            left: 10px;
			color: white;
			font-size: 10px;
			width: 15%			
			
        }